{% extends 'help/_layout.html.twig' %}

{% block title %}Help{% endblock %}

{% block content %}
    <p class="text-gray-500 dark:text-gray-400">
        No help is available for this page.
    </p>
{% endblock %}
