{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <div data-controller="aos">
        <section class="flex justify-center bg-white dark:bg-orange-400/10" style="background: url({{ asset('images/martian_landscape.webp') }}) center center no-repeat; background-size: cover;">
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 lg:px-6">
                <div class="mb-10 max-w-screen-md dark:text-white sm:text-base" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="mb-4 text-3xl tracking-tight">About Us</h2>
                    <p class="mb-4">
                        Our mission is to provide everything humanity needs to thrive on Mars - while showcasing the capabilities of modern web technologies through a fully functional e-commerce back-end.
                    <p class="mb-4">
                        {{ domain|title }} isn’t intended as a commercial product, but as a demonstration of what modern PHP can accomplish.
                        PHP has matured into a robust, type-safe, and high-performance language, offering a reliable alternative in a landscape where the rapid evolution of JavaScript frameworks can feel overwhelming.                    </p>
                    </p>
                    <p class="mb-4">
                        With over 20 years experience in e-commerce, this project highlights deep expertise in development, database design, and full-stack solutions.
                        It reflects a career dedicated to working with customers, stakeholders, and development teams of all sizes - providing leadership, mentoring, and helping businesses scale from startups to large, successful enterprises.
                    </p>
                </div>

                <div class="mb-10 max-w-screen-md dark:text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <h3 class="mb-4 text-2xl">Built on Modern, Reliable Technologies</h3>
                    <ul class="list-inside list-disc space-y-1">
                        <li>PHP 8 and Symfony for a robust, reliable back-end architecture</li>
                        <li>Hotwire Turbo for seamless server-side rendering and fast navigation</li>
                        <li>Tailwind CSS for fast, responsive design</li>
                        <li>Doctrine ORM for efficient data management</li>
                        <li>Amazon EC2 and S3 for scalable hosting and storage</li>
                        <li>AI-Generated Content: Products and images created by AI, making each item unique</li>
                    </ul>
                </div>

                <div class="mb-10 max-w-screen-md dark:text-white sm:text-base" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <h3 class="mb-4 text-2xl">A Feature-Rich, Fun E-Commerce Demo</h3>
                    <p>
                        {{ domain|title }} offers a comprehensive suite of e-commerce back-end tools, including product management, supplier integration, dynamic pricing models, and order processing, all powered by real-time simulations of customer orders and supplier interactions.
                        With built-in sales reporting and data visualizations, this project explores the future of e-commerce - on Earth or Mars!
                    </p>
                </div>
                <div class="mt-4 flex items-center justify-center" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
                    <twig:Button
                        tag="a"
                        href="mailto:adamashmore@me.com"
                        class="flex items-center font-bold space-x-1"
                        variant="secondary"
                    >
                        <span>Contact Us</span>
                    </twig:Button>
                </div>
            </div>
        </section>
    </div>
{% endblock %}