{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div data-controller="aos">
    <section class="mx-auto flex items-center justify-center h-screen" id="intro"
             style="background: url({{ asset('images/martian_landscape.webp') }}) center center no-repeat; background-size: cover;">
        <div class="text-center">
            <div class="mt-4 flex items-center justify-center pb-3" data-aos="fade-down" data-aos-duration="800">{{ include('logo/_logo.html.twig', { logoHeight: 100 }) }}</div>
            <h1 class="mb-5 text-4xl text-gray-900 dark:text-white sm:text-4xl" data-aos="fade-down" data-aos-delay="0">Welcome to {{ domain }}</h1>
            <div class="mb-5 text-2xl text-gray-900 dark:text-white" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
                <p class="mb-4">Your One-Stop Shop for Life on the Red Planet</p>
            </div>
        </div>
    </section>
    <!--  /- END INTRO SECTION-->

    <section class="bg-white dark:bg-orange-400/10">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-8 lg:px-6" data-aos="fade-up" data-aos-duration="800">
            <div class="mb-10 max-w-screen-md">
                <h2 class="mb-6 text-2xl tracking-tight text-gray-900 dark:text-white">Pioneering Commerce Beyond Earth</h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400 sm:text-base">Whether you’re managing a Martian colony or just stocking up for your next extravehicular adventure, we’ve got you covered.
                    {{ domain|title }} is not only your destination for everything from habitat maintenance to cutting-edge scientific equipment,
                    it’s also a fun, fully functional demo designed to showcase e-commerce development with a modern PHP stack.
                </p>
                <p class="mb-4 text-gray-500 dark:text-gray-400 sm:text-base">Features include:
                </p>
                <ul class="max-w-md list-inside list-disc text-gray-500 space-y-1 dark:text-gray-400">
                    <li>Product creation and editing tools</li>
                    <li>Supplier stock mapping and dynamic pricing models</li>
                    <li>Full order management system</li>
                    <li>Simulated customer and supplier behavior</li>
                    <li>Real-time sales reporting with beautiful visualizations</li>
                </ul>
            </div>
            <div class="space-y-8 md:space-y-0 md:grid md:grid-cols-2 md:gap-12 lg:grid-cols-2">
                <div data-aos="fade-up" data-aos-duration="400" data-aos-delay="200">
                    <div class="mb-2 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-orange-600 lg:h-12 lg:w-12">
                        <twig:ux:icon name="simple-icons:php" class="h-8 w-8" />
                    </div>
                    <h3 class="mb-2 text-2xl dark:text-white">Modern PHP</h3>
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        Harnessing the proven stability and performance of PHP 8 and Symfony, delivering a robust back-end architecture.
                        LAST stack (Live Components, AssetMapper, Stimulus, and Turbo) brings simplicity and productivity to modern front-end experiences.
                        Tailwind CSS ensures fast, responsive design with a utility-first approach for streamlined development.
                    </p>
                </div>
                <div data-aos="fade-up" data-aos-duration="400" data-aos-delay="400">
                    <div class="mb-2 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-orange-600 lg:h-12 lg:w-12">
                        <twig:ux:icon name="bi:lightning-fill" class="h-6 w-6" />
                    </div>
                    <h3 class="mb-2 text-2xl dark:text-white">Hotwire Turbo</h3>
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        Turbo Frames and Streams enable fast, efficient server-side rendering, while Turbo Drive ensures smooth navigation and form submission without page reloads.
                        Stimulus controllers enhance HTML over-the-wire templates, adding just enough JavaScript to make interactions shine!
                    </p>
                </div>
            </div>
            <div class="mt-8 flex items-center justify-center">
                <p class="me-2">Want to know more?</p>
                <twig:Button
                    tag="a"
                    href="mailto:adamashmore@me.com"
                    class="flex items-center font-bold space-x-1"
                    variant="secondary"
                >
                    <span>Contact Us</span>
                </twig:Button>
            </div>
        </div>
    </section>
    </div>
{% endblock %}
