{% extends 'base.html.twig' %}

{% block title %}Verify Email{% endblock %}

{% block body %}
    <div class="container my-3 px-3">
        <div class="row">
            <div class="p-4 alert alert-success mt-v">
                <h1 class="mb-3 h3 font-weight-normal">Verify your Email</h1>
                <p>A verification email was sent to you.</p>
                <p>Please click the link in your email to enable your account before logging in.</p>
            </div>
        </div>
        <div class="row">
            <h1 class="mb-0 p-4 text-white h3 font-weight-normal rounded-top bg-dark">Resend Verification Email</h1>
            <div class="p-4 bg-light rounded-bottom">
                <form method="post" action="{{ path('app_verify_send_email') }}">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" name="email" id="inputEmail"
                               class="form-control"
                               autocomplete="email" value="{{ last_username }}" required autofocus>
                    </div>
                    <twig:Button type="submit" class="w-full" data-turbo-frame="_top">Send Again</twig:Button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}