{% extends 'shared/email/emailBase.html.twig' %}

{% block content %}
    <spacer size="16"></spacer>
    <row>
        <columns>
            <h1>Reset Your Password</h1>
        </columns>
    </row>
    <row>
        <columns>
            <p>Hi {{ email.toName }},</p>
            <p>We received a request to reset your password. Click the button below to choose a new one.</p>
        </columns>
    </row>
    <row>
        <columns>
            <button href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="large expanded">Reset Password</button>
        </columns>
    </row>
    <spacer size="8"></spacer>
    <row>
        <columns>
            <p class="text-muted text-center">
                This link will expire
                in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p class="text-muted text-center">If you didn't request this, you can safely ignore this email.</p>
        </columns>
    </row>
{% endblock %}
