{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    {% embed 'customer/_auth_layout.html.twig' %}
        {% block auth_content %}
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl">
                Change Password
            </h1>
            {{ form_start(resetForm, {
                'attr': {
                    'class': 'space-y-4 md:space-y-6',
                    'novalidate': 'novalidate',
                }
            }) }}
            {{ form_row(resetForm.plainPassword) }}
            <twig:Button type="submit" class="w-full" data-turbo-frame="_top">Reset password</twig:Button>
            {{ form_end(resetForm) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
