{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <section class="md:h-screen rounded-lg bg-gray-50 dark:bg-gray-900" style="background: url({{ asset('images/martian_landscape.webp') }}) center center no-repeat; background-size: cover;">
        <div class="flex flex-col items-center px-6 py-8 mx-auto lg:py-0">
            <div
                class="w-full bg-white rounded-lg shadow dark:border md:m-10 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Password Reset Email Sent
                    </h1>
                    <p class="mb-4 text-gray-900 dark:text-gray-300">
                        If an account matching your email exists, then an email was just sent containing a link to reset your password.
                    </p>
                    <p class="mb-4 text-gray-900 dark:text-gray-300">
                        This link will expire in
                        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                    </p>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        If you don't receive an email please check your spam folder or
                        <a
                            href="{{ path('app_forgot_password_request') }}"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                        >
                            try again.
                        </a>
                    </p>
                 </div>
            </div>
        </div>
    </section>
{% endblock %}
