{% extends 'base.html.twig' %}

{% block title %}{{ section }}{% endblock %}

{% block body %}

    <div class="p-6 sm:p-8 space-y-4 md:space-y-6 text-sm text-gray-500 dark:text-gray-400">
        <h1 class="mb-4 text-2xl font-semibold text-white">Supplier Product</h1>
        <div class="flex flex-wrap justify-center gap-8">
            {{ include('supplier_product/_supplier_product_card.html.twig', {supplierProduct: result}) }}
        </div>
        <div class="mt-4">
            <p>
                <a href="{{ path('app_supplier_product_index') }}"
                   class="font-light hover:text-gray-300 dark:hover:text-white"
                   data-turbo-frame="_top"
                   data-turbo-prefetch="false"
                >Back to list</a>
            </p>
        </div>
    </div>

{% endblock %}