{% extends 'base.html.twig' %}

{% block title %}{{ section }}{% endblock %}

{% block body %}

    <div class="p-3 space-y-3">
        {{ include('supplier_product/_supplier_product_card.html.twig', {supplierProduct: result}) }}
    </div>

{% endblock %}