<twig:Card title="Subcategories">
    <ul class="space-y-1">
        {% for subcategory in subcategories %}
            <li class="flex justify-between">
                <a href="{{ path('app_subcategory_show', {'id': subcategory.id }) }}"
                   class="me-5 line-clamp-1 dark:hover:text-white"
                   data-turbo-frame="body"
                >{{ subcategory.name }}</a>
                {% if subcategory.isActive %}
                    <span class="text-green-500">Active</span>
                {% else %}
                    <span class="text-red-500">Inactive</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</twig:Card>