<div class="h-full border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
        <h5 class="mb-2 text-lg text-gray-900 dark:text-white">Subcategories</h5>
        <ul class="space-y-1 text-sm text-gray-500 dark:text-gray-400">
            {% for subcategory in subcategories %}
                <li class="flex justify-between">
                    <a href="{{ path('app_subcategory_show', {'id': subcategory.id }) }}"
                       class="me-10 dark:hover:text-white"
                       data-turbo-frame="_top"
                       data-turbo-prefetch="false"
                    >{{ subcategory.name|u.truncate(30, '...') }}</a>
                    {% if subcategory.isActive %}
                        <span class="text-green-500">Active</span>
                    {% else %}
                        <span class="text-red-500">Inactive</span>
                    {% endif %}
                </li>
            {% else %}
                <li>No subcategories</li>
            {% endfor %}
        </ul>
    </div>
</div>