{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <div class="p-4 space-y-4 md:space-y-6 text-sm text-gray-500 dark:text-gray-400">
        <h1 class="mb-4 text-2xl font-semibold text-white">Category</h1>
        <div class="flex flex-wrap justify-center gap-8">
            {{ include('category/_category_card.html.twig', {category: result}) }}
            {{ include('category/_subcategories_card.html.twig', {subcategories: result.subcategories}) }}
        </div>
        <div class="mt-4">
            <p>
                <a href="{{ path('app_category_index') }}"
                   class="font-light hover:text-gray-300 dark:hover:text-white"
                   data-turbo-frame="_top"
                   data-turbo-prefetch="false"
                >Back to list</a>
            </p>
        </div>
    </div>

{% endblock %}