{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <div class="p-3 space-y-3">
        {{ include('category/_category_card.html.twig', {category: result}) }}
        {{ include('category/_category_products_card.html.twig', {category: result}) }}
        {{ include('category/_subcategories_card.html.twig', {subcategories: result.subcategories}) }}
    </div>

{% endblock %}