<div class="h-full w-full border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="p-3">
        <p class="text-gray-600 dark:text-gray-500">Orders</p>
        <p class="font-light flex justify-start items-center">
            <span class="me-1.5 text-xl font-extralight">{{ result.customerOrders.count }}</span>
            {{ result.customerOrders.count == 1 ? 'order': 'orders' }} from this customer
        </p>
    </div>
</div>