<div class="h-full w-full border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="p-3">
        <p class="mb-1 text-gray-600 dark:text-gray-500">Orders</p>
        <p class="">
            <a href="{{ path('app_order_index', {customerId: result.id}) }}"
               class="font-light flex justify-start items-center dark:hover:text-white"
               data-turbo-frame="body"
            >
                <span class="me-1 font-extralight">{{ result.customerOrders.count }}</span>
                {{ result.customerOrders.count == 1 ? 'order': 'orders' }} from this customer
            </a>
        </p>
    </div>
</div>