<twig:Card editLink="{{ path('app_customer_edit', {id: customer.publicId.value})}}" title="Customer">
    <p class="mb-2 text-xl text-gray-900 line-clamp-1 dark:text-white">
        {{ customer.fullName }}
        {% if result.isAdmin %}
            <span class="text-base font-extralight text-red-500 ms-1 dark:text-red-400">(Administrator)</span>
        {% endif %}
    </p>
    <p>{{ customer.email }}</p>
    <div class="mt-2 flex items-center justify-between">
        <p class="text-xs text-gray-600 me-10 dark:text-gray-500">Updated {{ customer.updatedAt|ago }}</p>
        {% if customer.isVerified %}
            <p class="text-green-500">Verified</p>
        {% else %}
            <p class="text-green-500">Unverified</p>
        {% endif %}
    </div>
</twig:Card>
