{% extends 'base.html.twig' %}

{% block title %}Customer Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-4">
        {{ include('customer/_customer_card.html.twig', {customer: result}) }}
        {{ include('customer/_customer_orders_card.html.twig', {customer: result}) }}
        {% if result.addresses.count > 0 %}
            {{ include('customer/_customer_addresses_card.html.twig', {customer: result}) }}
        {% endif %}
    </div>

{% endblock %}