{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}

    <div class="p-3 space-y-3 text-sm text-gray-500 dark:text-gray-400">
        <div class="space-y-3">
            {{ include('purchase_order/_po_card.html.twig', {purchaseOrder: result}) }}
            {{ include('purchase_order/_po_summary_card.html.twig', {purchaseOrder: result}) }}
            {{ include('purchase_order/_po_items_card.html.twig', {purchaseOrder: result}) }}
        </div>
        <div class="mt-4">
            <p>
                <a href="{{ path('app_purchase_order_index') }}"
                   class="font-light hover:text-gray-300 dark:hover:text-white"
                   data-turbo-frame="_top"
                   data-turbo-prefetch="false"
                >Back to list</a>
            </p>
        </div>
    </div>

{% endblock %}