{% extends 'shared/turbo/modal_base.html.twig' %}

{% block title %}Reply to Ticket{% endblock %}

{% block body %}

    <twig:Dialog title="Reply to Ticket">
        <twig:FlowForm :form="form" buttonLabel="Send Reply"/>
        {% if flowBackLink is not null %}
            <p class="mt-3 text-sm font-light text-gray-500 dark:text-gray-400">
                <a href="{{ flowBackLink }}" class="hover:underline">Back to ticket</a>
            </p>
        {% endif %}
    </twig:Dialog>

{% endblock %}
