<twig:Card title="Supplier Products">
    <p>
        <a href="{{ path('app_supplier_product_index', {supplierId: result.id}) }}"
           class="font-light flex justify-start items-center dark:hover:text-white"
           data-turbo-frame="body"
        >
            <span class="me-1 font-extralight">{{ result.supplierProducts.count }}</span>
            {{ result.supplierProducts.count == 1 ? 'product': 'products' }} from this supplier
        </a>
    </p>
</twig:Card>