{% extends 'base.html.twig' %}

{% block title %}Supplier Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-3">
        {{ include('supplier/_supplier_card.html.twig', {supplier: result}) }}
        {% if result.supplierProducts.count > 0 %}
            {{ include('supplier/_supplier_products_card.html.twig', {supplier: result}) }}
        {% endif %}
        {{ include('supplier/_supplier_product_sales_card.html.twig', {supplier: result}) }}
    </div>

{% endblock %}