{% extends 'base.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block body %}

    <div class="p-3 space-y-3">
        {{ include('supplier/_supplier_card.html.twig', {supplier: result}) }}
        {{ include('supplier/_supplier_products_card.html.twig', {supplier: result}) }}
    </div>

{% endblock %}