{% extends 'base.html.twig' %}

{% block title %}Supplier Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-3">
        {{ include('supplier/_supplier_card.html.twig', {supplier: result}) }}
        {% if result.supplierProducts.count > 0 %}
            {{ include('supplier/_supplier_products_card.html.twig', {supplier: result}) }}
        {% endif %}
        {{ include('dashboard/_dashboard_card.html.twig', {
            dashboardSrc: path('app_dashboard_product_sales', {supplier_id: result.id})
        }) }}
    </div>

{% endblock %}