{# VAT rate detail page — composes _vat_rate_card and _categories_card.
   Variable: result (VatRate) #}
{% extends 'base.html.twig' %}

{% block title %}VAT Rate Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-4">
        {{ include('pricing/vat_rate/_vat_rate_card.html.twig', {vatRate: result}) }}
        {{ include('pricing/vat_rate/_categories_card.html.twig', {vatRate: result}) }}
        <twig:BackLink :href="path('app_pricing_vat_rate_index')" label="View all VAT rates"/>
    </div>

{% endblock %}



