<twig:Card editLink="{{ path('app_manufacturer_edit', {'id': manufacturer.id }) }}" title="Manufacturer">
    <p class="mb-2 text-xl text-gray-900 line-clamp-1 dark:text-white">{{ manufacturer.name }}</p>
    <div class="mt-2 flex items-center justify-between">
        <p class="text-xs text-gray-600 me-10 dark:text-gray-500">Updated {{ manufacturer.updatedAt|ago }}</p>
        {% if manufacturer.isActive %}
            <p class="text-green-500">Active</p>
        {% else %}
            <p class="text-red-500">InActive</p>
        {% endif %}
    </div>
</twig:Card>