{% extends 'shared/email/emailBase.html.twig' %}

{% block content %}
    <spacer size="10"></spacer>
    <row>
        <columns>
            <p>
                Hi {{ email.toName }}!
            </p>
            <p>
                Thanks for joining <strong>{{ domain|title }}</strong>, our Mars-inspired demo experience. We’re excited to have you on board.
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                <a href="{{ signedUrl|raw }}">
                    Please confirm your email address by clicking this link
                </a>
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
            </p>
        </columns>
    </row>
{% endblock %}
