{% extends 'base.html.twig' %}

{% block title %}Product Cost{% endblock %}

{% block body %}

    {{ include('catalog/product/_navigation.html.twig', {product: result}) }}

    <div class="m-3 space-y-4 text-sm text-gray-500 dark:text-gray-400">
        <twig:Breadcrumb :href="path('app_catalog_product_index')" label="Products" :current="result.name"/>
        {{ include('pricing/_inventory_card.html.twig', {result: result, type: 'cost'}) }}
        {{ include('pricing/_pricing_cascade_table.html.twig', {result: result}) }}
    </div>

{% endblock %}
