{% extends 'base.html.twig' %}

{% block title %}Edit Subcategory{% endblock %}

{% block body %}
    <div class="flex flex-col items-center px-6 py-8 mx-auto lg:py-0">
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:m-10 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Edit Subcategory
                </h1>
                {{ include('subcategory/_form.html.twig', {'button_label': 'Update'}) }}

                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    <a href="{{ path('app_subcategory_index') }}" class="hover:underline">Back to list</a>
                </p>
                {{ include('subcategory/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
