{% extends 'base.html.twig' %}

{% block title %}Subcategory Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-3">
        {{ include('subcategory/_subcategory_card.html.twig', {subcategory: result}) }}
        {% if result.products.count > 0 %}
            {{ include('subcategory/_subcategory_products_card.html.twig', {subcategory: result}) }}
        {% endif %}
    </div>

{% endblock %}