{% extends 'base.html.twig' %}

{% block title %}Subcategory Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-3">
        {{ include('subcategory/_subcategory_card.html.twig', {subcategory: result}) }}
        {% if result.products.count > 0 %}
            {{ include('subcategory/_subcategory_products_card.html.twig', {subcategory: result}) }}
        {% endif %}
        {{ include('dashboard/_dashboard_card.html.twig', {
            dashboardSrc: path('app_dashboard_product_sales', {subcategory_id: result.id})
        }) }}
    </div>

{% endblock %}