{% extends 'base.html.twig' %}

{% block title %}Subcategory{% endblock %}

{% block body %}

    <div class="p-3 space-y-3">
        {{ include('subcategory/_subcategory_card.html.twig', {subcategory: result}) }}
        {{ include('subcategory/_subcategory_products_card.html.twig', {subcategory: result}) }}
    </div>

{% endblock %}