<twig:Card title="Categories">
    <p class="font-light flex justify-start items-center">
        <span class="me-1.5 text-xl font-extralight">{{ result.categories.count }}</span>
        {{ result.categories.count == 1 ? 'category': 'categories' }} with this VAT rate
    </p>
</twig:Card>