{% extends 'modalBase.html.twig' %}

{% block title %}Edit VAT Rate{% endblock %}

{% block body %}
    <div class="relative p-6 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
        <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Edit VAT Rate
            </h3>
        </div>
        {{ include('vat_rate/_form.html.twig', {'button_label': 'Update VAT Rate'}) }}
        <hr class="h-px my-6 bg-gray-200 border-0 dark:bg-gray-700">
        <twig:Button
            tag="a"
            href="{{ path('app_vat_rate_delete_confirm', {'id': vat_rate.id}) }}"
            type="submit"
            variant="danger"
            class="w-full">
            Delete
        </twig:Button>

        <p class="text-sm font-light text-gray-500 dark:text-gray-400 mt-6">
            <a href="{{ path('app_vat_rate_index') }}" class="hover:underline">Back to list</a>
        </p>
    </div>
{% endblock %}


