{% extends 'base.html.twig' %}

{% block title %}VAT Rate{% endblock %}

{% block body %}

    <div class="p-3 space-y-3 text-sm text-gray-500 dark:text-gray-400">
        <p class="mb-3 text-xl text-gray-900 dark:text-white">VAT Rate</p>
        <div class="flex flex-wrap justify-center gap-3">
            {{ include('vat_rate/_vat_rate_card.html.twig', {vatRate: result}) }}
            {{ include('vat_rate/_vat_rate_categories_card.html.twig', {vatRate: result}) }}
        </div>
        <p>
            <a href="{{ path('app_vat_rate_index') }}"
               class="font-light hover:text-gray-300 dark:hover:text-white"
               data-turbo-frame="_top"
               data-turbo-prefetch="false"
            >Back to list</a>
        </p>
    </div>

{% endblock %}



