{% extends 'base.html.twig' %}

{% block title %}VAT Rate{% endblock %}

{% block body %}

    <div class="p-3 space-y-3">
        {{ include('vat_rate/_vat_rate_card.html.twig', {vatRate: result}) }}
        {{ include('vat_rate/_vat_rate_categories_card.html.twig', {vatRate: result}) }}
    </div>

{% endblock %}



