<div class="flex justify-center text-sm font-medium text-center text-gray-500 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
            <a href="{{ path('app_product_show', { id: result.id }) }}"
               class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
                Product Details
            </a>
        </li>
        <li class="me-2">
            <a href="{{ path('app_product_stock', { id: result.id }) }}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
                Product Stock
            </a>
        </li>
        <li class="me-2">
            <a href="{{ path('app_product_cost', { id: result.id }) }}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
                Product Cost
            </a>
        </li>
        <li class="me-2">
            <a href="{{ path('app_product_images', { id: result.id }) }}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
                Product Images
            </a>
        </li>
    </ul>
</div>
