{% extends 'base.html.twig' %}

{% block body %}

<div class="flex rounded-md shadow-sm justify-center">
    <a href="{{ path('app_product_show', { id: result.id }) }}"
       data-turbo-frame="section-details"
       data-turbo-action="advance"
       class="px-3 py-2 text-sm ntext-blue-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-900 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
    >Product Details
    </a>
    <a href="{{ path('app_product_stock', { id: result.id }) }}"
       data-turbo-frame="section-details"
       data-turbo-action="advance"
       class="px-3 py-2 text-sm text-gray-900 bg-white border-r border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-900 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
    >Stock
    </a>
    <a href="{{ path('app_product_cost', { id: result.id }) }}"
       data-turbo-frame="section-details"
       data-turbo-action="advance"
       class="px-3 py-2 text-sm text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-900 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
    >Cost
    </a>
    <a href="{{ path('app_product_images', { id: result.id }) }}"
       data-turbo-frame="section-details"
       data-turbo-action="advance"
       class="px-3 py-2 text-sm text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-900 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
    >Images
    </a>
</div>
    <turbo-frame id="section-details">{% block detail %}{% endblock %}</turbo-frame>
{% endblock %}