{% extends 'base.html.twig' %}

{% block title %}Product Sales{% endblock %}

{% block body %}

    {{ include('product/_navigation.html.twig', {product: result}) }}

    <div class="m-3 space-y-3">
        {{ include('dashboard/_dashboard_card.html.twig', {
            dashboardSrc: path('app_dashboard_product_sales', {product_id: result.id})
        }) }}
    </div>

{% endblock %}