{% extends 'modalBase.html.twig' %}

{% block title %}New {{ section }}{% endblock %}

{% block body %}
    <div class="relative p-3 bg-white rounded-lg shadow dark:bg-gray-800 ">
        <div class="flex justify-between items-center pb-3 mb-3 rounded-t border-b dark:border-gray-600">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Create new {{ section }}
            </h3>
        </div>
        {{ include('crud/crud.html.twig', {'template': '_form', 'button_label': 'Create '~section}) }}
        {% if backLink is not null %}
            <p class="text-sm font-light text-gray-500 dark:text-gray-400 mt-3">
                <a href="{{ backLink }}" class="hover:underline">Back to list</a>
            </p>
        {% endif %}
    </div>
{% endblock %}