{% extends 'modalBase.html.twig' %}

{% block title %}{{ section }}{% endblock %}

{% block body %}

    <div class="p-3 space-y-3">
        <twig:Card>
            <div class="mx-auto max-w-screen-sm p-5 text-center">
                <p class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white md:text-3xl">{{ section }}
                    is missing!</p>
                <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, we can't find
                    that {{ section }}. </p>
                <twig:Button
                    tag="a"
                    href="{{ path('app_'~section|lower|u.snake~'_index') }}"
                    class="mb-4 flex items-center font-bold space-x-1"
                >
                    Back
                </twig:Button>
            </div>
        </twig:Card>
    </div>

{% endblock %}




