{% extends 'modalBase.html.twig' %}

{% block title %}{{ section }}{% endblock %}

{% block body %}

    <div class="p-3 space-y-3">
        <twig:Card>
            <div class="p-5 mx-auto max-w-screen-sm text-center">
                <p class="mb-4 text-2xl tracking-tight font-bold text-gray-900 md:text-3xl dark:text-white">{{ section }}
                    is missing!</p>
                <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, we can't find
                    that {{ section }}. </p>
                <twig:Button
                    tag="a"
                    href="{{ path('app_'~section|lower|u.snake~'_index') }}"
                    class="mb-4 flex items-center space-x-1 font-bold"
                >
                    Back
                </twig:Button>
            </div>
        </twig:Card>
    </div>

{% endblock %}




