{% extends 'modalBase.html.twig' %}

{% block title %}{{ section }} Details{% endblock %}

{% block body %}

    <div class="p-3 space-y-3">
        <twig:Card title="{{ section }}">
            <p class="mb-1 text-base text-gray-900 dark:text-gray-400">
                Please create a 'Show' page for {{ section }} ({{ section|lower|u.snake }}/show.html.twig)
            </p>
        </twig:Card>
    </div>

{% endblock %}