<twig:Modal closeButton="true">
    <div class="relative">
        <turbo-frame
            id="modal"
            data-basic-modal-target="frame"
            data-action="turbo:before-fetch-request->basic-modal#frameBusy turbo:frame-render->basic-modal#frameIdle"
            class="peer block data-[loading]:opacity-30"
        >
            {{ include ('shared/turbo/_frame_success_stream.html.twig', { frame: 'modal' }) }}
        </turbo-frame>
        <div class="pointer-events-none hidden peer-data-[loading]:flex absolute inset-0 items-center justify-center">
            <twig:ux:icon name="icomoon-free:spinner9" class="h-8 w-8 animate-spin text-gray-400"/>
        </div>
    </div>
</twig:Modal>
