{% extends 'base.html.twig' %}

{% block title %}Product Reviews{% endblock %}

{% block body %}
    {{ include('catalog/product/_navigation.html.twig', {result: result}) }}
    <div class="m-3 space-y-4">
        {{ include('review/_review_summary_card.html.twig', {summary: summary}) }}
        {% for review in reviews %}
            {{ include('review/_review_preview_card.html.twig', {review: review}) }}
        {% else %}
            <twig:EmptyState icon="flowbite:star-solid" message="No published reviews yet"/>
        {% endfor %}
        {% if reviews is not empty %}
            <twig:BackLink :href="path('app_review_index', {productId: result.id})" label="View all reviews"/>
        {% endif %}
    </div>
{% endblock %}
