{% extends 'base.html.twig' %}

{% block title %}Product Details{% endblock %}

{% block body %}

    {{ include('catalog/product/_navigation.html.twig', {product: result}) }}
    <div class="m-3 space-y-4">
        <div class="flex flex-wrap justify-center gap-8">
            {{ include('catalog/product/_product_card.html.twig', {product: result}) }}
        </div>
    </div>

{% endblock %}
