{# FormFlow create template. Renders as modal via modal_base.
   Variables: flowModel (string), form (FormView), flowBackLink (?string), routes (FlowRoutes) #}
{% extends 'shared/turbo/modal_base.html.twig' %}

{% block title %}New {{ flowModel }}{% endblock %}

{% block body %}

    <twig:Dialog title="Create new {{ flowModel }}">
        <twig:FlowForm :form="form" buttonLabel="Create {{ flowModel }}"/>
        {% if flowBackLink is not null and _turbo_frame != 'modal' %}
            <p class="mt-3 text-sm font-light text-gray-500 dark:text-gray-400">
                <a href="{{ flowBackLink }}" class="hover:underline">&larr; Back</a>
            </p>
        {% endif %}
    </twig:Dialog>

{% endblock %}
