<div id="help-drawer"
     class="fixed top-0 right-0 z-40 flex h-screen w-96 translate-x-full flex-col border-l border-gray-200 bg-white dark:border-white/[0.06] dark:bg-gray-900/95 dark:backdrop-blur-xl"
     tabindex="-1"
     aria-hidden="true"
     aria-label="Contextual help"
>
    <turbo-frame id="help" class="flex flex-1 flex-col overflow-hidden">
    </turbo-frame>
</div>
