{% props pager %}

<nav
    class="px-3 mb-3 flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0"
    aria-label="Table pagination"
>
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white">
            {{ pager.currentPageOffsetStart }}-{{ pager.currentPageOffsetEnd }}
        </span>
        of
        <span class="font-semibold text-gray-900 dark:text-white">
            {{ pager.count }}
        </span>
    </span>
    {{ pagerfanta(pager) }}
</nav>