{# Profit/loss currency badge. Green for positive, red for negative.
   Props (PHP): value (string|float, default: 0) #}
<span {{ attributes.defaults({'class': 'text-xs tabular-nums ' ~ this.colorClasses}) }}>{{ this.isPositive ? '+' : '-' }}{{ this.formattedValue|format_currency('GBP') }}</span>
