<span {{ attributes.defaults({'class': 'rounded-full px-2 py-0.5 text-xs tabular-nums ' ~ this.colorClasses}) }}>{{ this.isPositive ? '+' : '-' }}{{ this.formattedValue|format_currency('GBP') }}</span>
