{% props sortValue='' %}

<a {{ attributes.defaults({
    class: 'flex items-center me-2 hover:text-gray-400 dark:hover:text-gray-300',
}) }}
    href="{{ path(app.current_route, {
        ...app.request.query.all(),
        sort: sortValue,
        sortDirection: sortValue == app.request.query.get('sort') and app.request.query.get('sortDirection') == 'asc' ? 'desc' : 'asc',
    }) }}"
>
    {% block content %}{% endblock %}
    <twig:ux:icon name="radix-icons:caret-sort" class="h-5 w-5" />
</a>