<span {{ attributes.defaults({
    'class': 'inline-flex items-center rounded-full px-2.5 py-1 text-xs font-medium '~this.getColorClasses~(interactive ? ' transition-opacity hover:opacity-75' : ''),
}) }}>
    {% if showIcon %}
        <twig:StatusIcon type="{{ status|lower }}" class="me-1"/>
    {% endif %}
    {{ status|title }}
</span>
