{% props sortValue='' %}

<th scope="col" class="px-4 py-3">
    {% if sortValue %}
    <a
        class="flex items-center"
        href="{{ path(app.current_route, {
            ...app.request.query.all(),
            sort: sortValue,
            sortDirection: sort == app.request.query.get('sort') and app.request.query.get('sortDirection') == 'asc' ? 'desc' : 'asc',
        }) }}"
    >
    {% endif %}
        {% block content %}{% endblock %}
    {% if sortValue %}
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24"
             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 9l4 -4l4 4"></path>
            <path d="M16 15l-4 4l-4 -4"></path>
        </svg>
    </a>
    {% endif %}
</th>