<div  {{ attributes.defaults({
    'class': 'fixed top-5 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded shadow dark:text-gray-400 dark:bg-gray-800',
    'data-turbo-temporary': true,
    'data-controller': 'closeable',
    'data-closeable-auto-close-value': 2000,
}) }}
>
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded {{ this.typeClasses }}">
        {{ this.toastIcon|raw }}
        <span class="sr-only">Toast icon</span>
    </div>
    <div class="text-sm font-normal ms-3">{% block content %}{% endblock %}</div>
    <button
        type="button"
        class="inline-flex h-8 w-8 items-center justify-center rounded bg-white text-gray-400 ms-auto -mx-1.5 -my-1.5 p-1.5 hover:bg-gray-100 hover:text-gray-900 focus:ring-2 focus:ring-gray-300 dark:bg-gray-800 dark:text-gray-500 dark:hover:bg-gray-700 dark:hover:text-white"
        aria-label="Close"
        data-action="closeable#close"
    >
        <span class="sr-only">Close</span>
        <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
    <div
        class="absolute bottom-0 left-0 h-1 {{ this.timerbarColor }} w-full transition-all duration-[2000ms] ease-linear"
        data-closeable-target="timerbar"
    ></div>
</div>