<div class="p-3 relative h-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full flex justify-between items-center">
        <p class="text-gray-500 dark:text-gray-400">
            {{ order.itemCount }} {% if order.itemCount == 1 %}item{% else %}items{% endif %}
            <span class="ms-1">
                {{ order.lineCount }} {% if order.lineCount == 1 %}line{% else %}lines{% endif %}
            </span>
        </p>
    <twig:Button
        tag="a"
        href="{{ path('app_order_item_new', {id: order.id}) }}"
        class="flex items-center space-x-1 font-bold"
        data-turbo-frame="modal"
    >
        <twig:ux:icon name="flowbite:circle-plus-outline" class="w-4"/>
        <span>Add Item</span>
    </twig:Button>
    </div>
    <ul class="w-full space-y-3">
        {% for orderItem in order.customerOrderItems %}
            {{ include('order_item/_order_item_card.html.twig', {orderItem: orderItem}) }}
        {% endfor %}
    </ul>
</div>