{% extends 'base.html.twig' %}

{% block title %}Order Dashboard{% endblock %}

{% block body %}

    <div class="m-3 space-y-4">
        <twig:Card>
            <turbo-frame
                id="sales"
                src="{{ path('app_orders_dashboard') }}"
                refresh="morph"
            ></turbo-frame>
        </twig:Card>
    </div>

{% endblock %}