{% extends 'shared/turbo/modal_base.html.twig' %}

{% block title %}Edit Order Item{% endblock %}

{% block body %}
<twig:Dialog title="Edit Order Item">
        {{ include('form_flow/_form.html.twig', {'button_label': 'Update Order Item'}) }}
        {% if form.vars.value.allowCancel %}
            <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">
                <a href="{{ path('app_order_item_cancel', {'id': result.orderItemId}) }}"
                   class="hover:text-yellow-600 dark:hover:text-yellow-300"
                   data-turbo-frame="_top"
                   data-turbo-prefetch="false"
                >Cancel Order Item</a>
            </p>
        {% endif %}
</twig:Dialog>

{% endblock %}

