{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
        <section class="flex items-center justify-center mx-auto md:h-screen bg-white dark:bg-orange-400/10" style="background: url({{ asset('images/martian_landscape.webp') }}) center center no-repeat; background-size: cover;">
            <div data-turbo-temporary class="py-8 px-4 mx-auto max-w-screen-xl sm:py-12 lg:px-6">
                <div class="max-w-screen-md mb-10 dark:text-white">
                    <h2 class="mb-8 text-3xl tracking-tight">403: Unauthorized Access to Mars Colony Systems</h2>
                    <p class="mb-4 sm:text-base">
                        Oops! It looks like your clearance level isn’t high enough to explore this part of the Martian colony.
                        Our systems have detected an attempt to access restricted areas without the proper credentials.
                        Don’t worry—no airlocks were breached in the process!
                    </p>
                    <p>
                        (Note: You might need to wait for your Login credentials to be verified)
                    </p>
                </div>
            </div>
        </section>
{% endblock %}