{% extends 'base.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
        <section class="mx-auto flex items-center justify-center bg-white dark:bg-orange-400/10 md:h-screen" style="background: url({{ asset('images/martian_landscape.webp') }}) center center no-repeat; background-size: cover;">
            <div data-turbo-temporary class="mx-auto max-w-(--breakpoint-xl) px-4 py-8 sm:py-12 lg:px-6">
                <div class="mb-10 max-w-(--breakpoint-md) dark:text-white">
                    <h2 class="mb-8 text-3xl tracking-tight">404: Lost in the Martian Dust</h2>
                    <p class="mb-4 sm:text-base">
                        Uh-oh! It seems like you’ve wandered off course and landed in uncharted Martian territory.
                        The page you’re looking for has drifted away in a Martian dust storm.
                    </p>
                </div>
            </div>
        </section>
{% endblock %}
