{% extends 'base.html.twig' %}

{% block title %}Supplier Product Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-4">
        {{ include('purchasing/supplier_product/_supplier_product_card.html.twig', {supplierProduct: result}) }}
        <div class="flex">
            <a href="{{ path('app_purchasing_supplier_product_index') }}"
               class="inline-flex items-center gap-1 text-sm font-medium text-primary-600 hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-300"
               data-turbo-frame="body">
                <twig:ux:icon name="bi:arrow-left" class="h-3.5 w-3.5"/>
                View all supplier products
            </a>
        </div>
    </div>

{% endblock %}
