{% extends 'modalBase.html.twig' %}

{% block title %}Edit {{ section }}{% endblock %}

{% block body %}

<twig:Dialog title="Edit {{ section }}">
        {{ include('crud/crud.html.twig', {'template': '_form', 'button_label': 'Update '~section}) }}
        {% if form.vars.value.allowCancel %}
            <p class="text-sm text-gray-500 dark:text-gray-400 hover:text-yellow-600 dark:hover:text-yellow-300 mt-3">
                <a href="{{ path('app_'~section|lower|u.snake~'_cancel', {'id': result.id}) }}"
                   data-turbo-frame="_top"
                   data-turbo-prefetch="false"
                >Cancel Order Item</a>
            </p>
        {% endif %}
</twig:Dialog>

{% endblock %}

