{% set colourScheme = purchaseOrder.supplier.colourScheme %}
<twig:Card colour="{{ colourScheme }}" title="PO Items">
    <p class="flex items-center gap-2 text-gray-500 dark:text-gray-300">
        <span>
            {{ purchaseOrder.lineCount }} {% if purchaseOrder.lineCount == 1 %}line{% else %}lines{% endif %}
            <span class="ms-1 text-gray-400 dark:text-gray-500">
                ({{ purchaseOrder.itemCount }} {% if purchaseOrder.itemCount == 1 %}item{% else %}items{% endif %})
            </span>
        </span>
        <twig:ProfitBadge :value="purchaseOrder.calculateProfit"/>
    </p>
    <ul class="w-full space-y-3">
        {% for purchaseOrderItem in purchaseOrder.purchaseOrderItems %}
            {{ include('purchasing/purchase_order_item/_po_item_card.html.twig', {purchaseOrderItem: purchaseOrderItem}) }}
        {% else %}
            <li class="flex justify-between text-gray-400 dark:text-gray-500">No items found</li>
        {% endfor %}
    </ul>
</twig:Card>
