{% extends 'shared/turbo/modal_base.html.twig' %}

{% block title %}Rewind Purchase Order{% endblock %}

{% block body %}

    <twig:Dialog title="Rewind Purchase Order">
        <p class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
            Are you sure you want to rewind this Purchase Order to pending?
            This will reset all items and remove status history.
        </p>
        <form method="post" action="{{ path('app_purchasing_purchase_order_rewind', {'id': result.publicId.value}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete'~result.publicId.value) }}">
            <twig:Button type="submit" variant="warning" class="w-full">Rewind to Pending</twig:Button>
        </form>
    </twig:Dialog>

{% endblock %}
