{% extends 'shared/turbo/modal_base.html.twig' %}

{% block title %}Rewind Purchase Order{% endblock %}

{% block body %}

    <twig:ConfirmDialog
        title="Rewind Purchase Order"
        formAction="{{ path('app_purchasing_purchase_order_rewind', {'id': result.publicId.value}) }}"
        csrfId="delete{{ result.publicId.value }}"
        confirmLabel="Rewind to Pending"
        confirmVariant="warning"
    >
        <twig:block name="message">
            <p class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                Are you sure you want to rewind this Purchase Order to pending?
                This will reset all items and remove status history.
            </p>
        </twig:block>
    </twig:ConfirmDialog>

{% endblock %}
