{% extends 'email/emailBase.html.twig' %}

{% block content %}
    <row class="welcome">
        <columns>
            <spacer size="35"></spacer>
            <h1>
                <center>
                    Let's reset your password {{ email.toName }}!
                </center>
            </h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>
                To reset your password, please visit the following link:
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
                    Reset my password
                </a>

            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                This link will expire
                in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
        </columns>
    </row>
{% endblock %}