<twig:Card
    editLink="{{ path('app_purchasing_supplier_edit', { id: supplier.publicId.value }) }}"
    title="Supplier"
    colour="{{ supplier.colourScheme }}"
>
    <p class="mb-3 text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ supplier.name }}</p>
    <twig:CardFooter :updatedAt="supplier.updatedAt">
        <twig:StatusBadge status="{{ supplier.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
    </twig:CardFooter>
</twig:Card>
