{% extends 'base.html.twig' %}

{% block title %}Supplier Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-4">
        {{ include('purchasing/supplier/_supplier_card.html.twig', {supplier: result}) }}
        {% if result.supplierProducts.count > 0 %}
            {{ include('purchasing/supplier/_supplier_products_card.html.twig', {supplier: result}) }}
        {% endif %}
        {{ include('reporting/_dashboard_card.html.twig', {
            dashboardSrc: path('app_reporting_dashboard_product_sales', {supplierId: result.id})
        }) }}
        <div class="flex">
            <a href="{{ path('app_purchasing_supplier_index') }}"
               class="inline-flex items-center gap-1 text-sm font-medium text-primary-600 hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-300"
               data-turbo-frame="body">
                <twig:ux:icon name="bi:arrow-left" class="h-3.5 w-3.5"/>
                View all suppliers
            </a>
        </div>
    </div>

{% endblock %}
