{% extends 'base.html.twig' %}

{% block title %}Supplier Details{% endblock %}

{% block body %}

    <div class="m-3 space-y-4">
        {{ include('purchasing/supplier/_supplier_card.html.twig', {supplier: result}) }}
        {% if result.supplierProducts.count > 0 %}
            {{ include('purchasing/supplier/_supplier_products_card.html.twig', {supplier: result}) }}
        {% endif %}
        {{ include('reporting/_dashboard_card.html.twig', {
            dashboardSrc: path('app_reporting_dashboard_product_sales', {supplierId: result.id})
        }) }}
    </div>

{% endblock %}
